    <!DOCTYPE html>
    <html><head>
    <title>Temperature Story Generator</title>
    </head><body>
        {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
    <h2>Temperature Story Generator</h2>
    <!-- <form action="/" method="post">
    {% csrf_token %}
    <p>Enter the temperature in fahrenheit to convert to celsius:</p>
    <input type="number" name="temp">
    <input type="submit" value="Convert">
    </form> -->
    <p>{{ story }}</p>

    To convert temperature <a href="convert/">click here</a>
    <!-- <p>Your converted temperature of {{temp}} in F is {{ con }} in C</p> -->
    </body>